@import url("../../Assets/css/mainStyle.css");

ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
}
header{
    display: flex;
    flex-direction: column;
}
header > div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1em;

    h2{
        font-size: 2em;
    }

    ul{
        gap: 10px;
        li{
            font-size: 1em;
        }
    }
}

navbar{
    display: flex;
    ul{
        gap: 1em;
        overflow-x: scroll;
        overscroll-behavior-x: contain;
        scroll-snap-type: x proximity;
        width: 100%;
    }

    li:first-child{
        font-size: 1.5em;
    }
}

main{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1em;
}

.card{
    background-color: bisque;
    height: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    .imagen{
        width: 50%;
        height: 100%;
        img{
            width: 100%;
            height: auto;
        }
    }

    .info{
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
        padding: 1em;
        gap: 2em;
        .precios{
            display: flex;
            justify-content: space-between;

            .precio{
                color: #4B5FF5
            }
            
            .valoracion{
                display: grid;
                place-items: center;
                width: 2em;
                height: 2em;
                border-radius: 50%;
                background-color: #4B5FF5;
                color: white;
            }
        }
    }
}

@media (max-width: 600px){
    main{
        flex-direction: column;
    }

    header > div > h2{
        font-size: 1.5em;
    }
    header > navbar{
        margin-right: 1em;
        margin-bottom: 1em;
    }

    .reverse{
        flex-direction: row-reverse;
    }
}