/* -------------NORMALIZAR EL NAVEGADOR------------- */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    /* height: 100vh; del viewport height  (area visible del navegador) */
    /* width: 100vw; del viewport width */
    /*UTILIZAR ESTAS UNIDADES UNICAMENTE EN EL BODY*/
    display: flex;
    width: 700px;
    height: 100%;
    justify-self: center;
    background: linear-gradient(to right, #2c3e50, #4ca1af);
}

main{
    padding: 1em;
    width: 60%;
    background-color: white;
}

aside{
    float: right;
    width: 40%;
    background-color: #092439;
}

.perfil{
    margin-bottom: 2em;
    width: 100%;
    background-color: rgb(255, 255, 255);
    display: grid;
    place-items: center;

    span{
        float: none;
        position: relative;
        content: '';
        background-color: #79ebd4;
        height: 10px;
        width: 100%;
        
    }
    
    .foto{
        box-shadow: 0px 0px 20px 0px rgb(0, 0, 0);
        border: 10px  ;
        height: 160px;
        border-radius: 50%;
        overflow: hidden;
        img{
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }
    .datos{
        text-align: center;
        margin-top: 1em;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 25px;
    }
}

.profile-txt{
    display: flexbox;
    margin-bottom: 20px;
}

aside > section{
    padding: 1em;
    text-wrap: wrap;
    overflow-wrap: break-word;
}

.datosPersonales{
    width: 100%;
    background-color: #79ebd4;
    a{
        text-decoration: none;
        color: black;
    }

    .listaDP{
        margin-top: .7em;
        display: flex;
        flex-direction: column;
        gap: 1em;
        /* list-style-type: none; */
        li{
            list-style: none;
        }
    }
}

.redes{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    div{
        align-content: center;
    }
    i{
        font-size: 30px;
    }
}

.educacion{
    width: 100%;
    li{
        list-style:circle;
        font-size: 10px;
        color: rgb(180, 180, 180);
    }
}

.bg-oscuro{
    background-color: #092439;
}
.bg-blanco{
    background-color: white;
}

.txt-blanco{
    color:white;
}

.txt-oscuro{
    color: #1c364a;
}

.experiencia{
    display: flex;
}

.tiempo{
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    gap: 5em;
    text-align: center;
    width: 5em;

    div{
        background-color: #092439;
        border: 1px solid #092439;
        padding: 10px;
        border-radius: 1em;
        border-style: double;
    }
}

.texto-experiencia {
    margin-top: 2em;
    margin-left: 1em;
    display: flex;
    flex-direction: column;
    gap: 1em;

    li{
        list-style:circle;
        font-size: 1em;
    }
}


.idiomas{
    display: flex;
    flex-direction: column;
    gap: 2em;
    span{
        width: 4em;
    }
    article{
        display: flex;    
        justify-content: space-around;
    }
    
    div{
        height: 1em;
        width: 1em;
        border-radius: 50%;
        border: 1px solid white;
    }
    
}


.lenguajes{
    display: flex;
    flex-direction: column;
    gap: 1em;
    article{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 13px;
        div{
            display: flex;
            flex-direction: column;
            gap: 5px;
            p{
                text-align: center;
            }
        }
    }

    i{
        text-align: center;
        font-size: 5em;
    }
}





.contenedorFlexbox{
    margin-top:20vh;
    background-color: #ccd3c6;
    display: flex;
    overflow-x: auto;
    gap: 10px; /* Espacio entre elementos */
    justify-content: flex-start;
    align-items: flex-end;
    height: 400px;
}


.tarjeta{
    height: 320px;
    background-color: rgb(111, 158, 117);
    color: white; 
    border-radius: 1em;
    padding: 1em;
    box-shadow: 0 0 10px 0;
    /* flex-basis: 100%; Para que el hijo de contenedor flexbox ocupe todo el ancho. */
    flex-grow: 1; /* Para que se expanda.  default 1*/
    flex-shrink: 1; /* Para que no se encoja.  default 1*/
    flex: 0 1 100px; /* primer param "GROW" segundo param "SHRINK", tercer param "BASIS"*/
}

.tarjeta:hover{
    transform: scale(1.03);
    box-shadow: 0 0 20px 0 black;
    transition: all .15s ease-out;
    cursor: pointer;
}

/* .tarjeta:first-of-type{
    Los primeros que aparezcan en cada contenedor
} */

/* .tarjeta:nth-child(even / odd){
    aplica a los pares si es "even"
    aplica a los impares si es "odd"
} */

/*.tarjeta:nth-child(3){
    Aplica al tercer numero de la primera serie (aparicion)
} */

.tarjeta:first-child{
    background-color: red;
    display: flex;
}

.tarjetaTitulo{
    font-size: 1.5em;
    font-weight: bold;
}

.tarjetaContenido{
    font-size: 1em;
    background-color: white;
    color: gray;
    padding: 1em;
    border-radius: 1em;
}